{# templates/security/reset_password_request.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button class="btn btn-primary">Envoyer le lien de réinitialisation</button>
    {{ form_end(form) }}
{% endblock %}
