{# templates/email/password_reset.html.twig #}

<p>Bonjour {{ user.username }},</p>

<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous.</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>Merci,</p>
<p>{{ user.username }}</p>
